/** General styling */
:root {
   --question-color: #purple;
   --question-answer: #pink;
   font-size: 62.5%; /** Defines default font size of 10px, 10/16=0.625 */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
   border: 1px black solid;
   margin-left: 15%;
   margin-right: 15%;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

a {
   text-decoration: none;
   padding-left: 2rem;
}

.timer {
   padding-right: 2rem;
}

.start-quiz {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.heading {
   font-size: 2rem;
   color: #6a6a94;
}

.quiz-intro {
   font-size: 1.5rem;
padding: 0 4rem;
}

.all-btn {
background-color: #6524a2;
color: white;
padding: .5rem 2rem;
border-radius: 8px;
}